@using FoodJournal.ServiceContracts.DTOs.Food

<MudDialog Class="blur dialog-background mud-dialog" TitleClass="blur dialog-background-title"
           ContentClass="dialog-background-surface py-10" ActionsClass="dialog-background-surface">
    <TitleContent>
        <div class="dialog-background-title">
            <MudText>
                Details for @Food.Name:
            </MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <div class="dialog-background-surface">
            <MudTextField Value="@Food.Name" Label="Name" ReadOnly="true"></MudTextField>
            <MudTextField Value="@Food.Category" Label="Category" ReadOnly="true"></MudTextField>
            <MudTextField Value="@Food.Calories" Label="Calories" ReadOnly="true"></MudTextField>
            <MudTextField Value="@Food.Protein" Label="Protein" ReadOnly="true"></MudTextField>
            <MudTextField Value="@Food.Fat" Label="Fat" ReadOnly="true"></MudTextField>
            <MudTextField Value="@Food.Carbs" Label="Carbs" ReadOnly="true"></MudTextField>

            <MudDivider Class="my-4" />
            <MudText Typo="Typo.h6">Appears in meals:</MudText>

            @if (!Food.Meals.Any())
            {
                <MudText>No meals found for this ingredient.</MudText>
            }
            else
            {
                <MudTable Items="Food.Meals" Hover="true" Dense="true">
                    <HeaderContent>
                        <MudTh>Name</MudTh>
                        <MudTh>Type</MudTh>
                        <MudTh>Calories</MudTh>
                        <MudTh>Description</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Name">@context.Name</MudTd>
                        <MudTd DataLabel="Type">@context.MealType</MudTd>
                        <MudTd DataLabel="Calories">@context.Calories</MudTd>
                        <MudTd DataLabel="Description">@context.Description</MudTd>
                    </RowTemplate>
                </MudTable>
            }
        </div>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] private IMudDialogInstance MudDialog { get; set; } = default!;
    [Parameter] public FoodResponse Food { get; set; } = default!;
}

<style>
    .blur {
        backdrop-filter: blur(10px);
    }

    .mud-dialog {
        width: 500px;
    }

    .dialog-background {
        background-color: transparent;
    }

    .dialog-background-title {
        background: #6873fe;
        color: #fff;
    }

    .dialog-background-surface {
        background: #dedede;
    }
</style>