@page "/foods/edit/{FoodId:int}"
@inject IFoodService FoodService
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Food</h2>
<hr/>
@if (Food is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Food" OnValidSubmit="UpdateFood" FormName="edit" Enhance>
                <DataAnnotationsValidator/>
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Food.FoodId" value="@Food.FoodId"/>
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Food.Name" class="form-control"/>
                    <ValidationMessage For="() => Food.Name" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category:</label>
                    <InputSelect id="category" class="form-control" @bind-Value="Food.Category">
                        @foreach (FoodCategory cat in Enum.GetValues(typeof(FoodCategory)))
                        {
                            <option value="@cat">@cat</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Food.Category" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="calories" class="form-label">Calories:</label>
                    <InputNumber id="calories" @bind-Value="Food.Calories" class="form-control"/>
                    <ValidationMessage For="() => Food.Calories" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="protein" class="form-label">Protein:</label>
                    <InputNumber id="protein" @bind-Value="Food.Protein" class="form-control"/>
                    <ValidationMessage For="() => Food.Protein" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="fat" class="form-label">Fat:</label>
                    <InputNumber id="fat" @bind-Value="Food.Fat" class="form-control"/>
                    <ValidationMessage For="() => Food.Fat" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="carbs" class="form-label">Carbs:</label>
                    <InputNumber id="carbs" @bind-Value="Food.Carbs" class="form-control"/>
                    <ValidationMessage For="() => Food.Carbs" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="meals" class="form-label">Meals:</label>
                    <InputSelect id="meals" @bind-Value="Food.Meals" class="form-control">
                        @foreach (var meal in Food.Meals)
                        {
                            <option value="@meal">@meal</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Food.Meals" class="text-danger"/>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/foods">Back to List</a>
</div>

@code {
    [Parameter] public int FoodId { get; set; }

    [SupplyParameterFromForm] private UpdateFoodRequest? Food { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var food = await FoodService.GetFoodById(FoodId);

        if (Food is null)
        {
            NavigationManager.NotFound();
        }
    }

    private async Task UpdateFood()
    {
        if (Food is null)
        {
            NavigationManager.NotFound();
            return;
        }

        NavigationManager.NavigateTo("/foods");
    }

}
