@page "/foods"
@inject IFoodService FoodService
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Food</h1>

<p>
    <a href="foods/create" class="btn btn-primary">Create New</a>
</p>

<div class="grid">
    <Grid TItem="FoodResponse"
          Class="table table-hover table-bordered table-striped"
          DataProvider="FoodDataProvider"
          AllowFiltering="true"
          AllowPaging="true"
          PageSize="10"
          AllowSorting="true"
          Responsive="true">

        <GridColumns>
            <GridColumn TItem="FoodResponse" HeaderText="Name" PropertyName="Name"
                        SortKeySelector="food => food.Name">
                @context.Name
            </GridColumn>
            <GridColumn TItem="FoodResponse" HeaderText="Category" PropertyName="Category"
                        SortKeySelector="food => food.Category">
                @context.Category
            </GridColumn>
            <GridColumn TItem="FoodResponse" HeaderText="Calories" PropertyName="Calories"
                        SortKeySelector="food => food.Calories">
                @context.Calories
            </GridColumn>
            <GridColumn TItem="FoodResponse" HeaderText="Protein(g)" PropertyName="Protein"
                        SortKeySelector="food => food.Protein">
                @context.Protein
            </GridColumn>
            <GridColumn TItem="FoodResponse" HeaderText="Fat(g)" PropertyName="Fat"
                        SortKeySelector="food => food.Fat">
                @context.Fat
            </GridColumn>
            <GridColumn TItem="FoodResponse" HeaderText="Carbs(g)" PropertyName="Carbs"
                        SortKeySelector="food => food.Carbs">
                @context.Carbs
            </GridColumn>

        </GridColumns>

    </Grid>
</div>

@code {
    private List<FoodResponse> _foods = [];

    protected override async Task OnInitializedAsync()
    {
        _foods = await LoadFoodItems();
    }

    private async Task<GridDataProviderResult<FoodResponse>> FoodDataProvider(GridDataProviderRequest<FoodResponse> request)
    {
        return await Task.FromResult(request.ApplyTo(_foods));
    }

    private async Task<List<FoodResponse>> LoadFoodItems()
    {
        return await FoodService.GetAllFood();
    }

    private void Edit(object foodId)
    {
        NavigationManager.NavigateTo($"/foods/edit/{foodId}");
    }

    private void Detail(object foodId)
    {
        NavigationManager.NavigateTo($"/foods/details/{foodId}");
    }

    private void Delete(object foodId)
    {
        NavigationManager.NavigateTo($"/foods/delete/{foodId}");
    }

}
