@page "/foods"
@inject IFoodService FoodService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Food</PageTitle>


<p>
    <a href="foods/create" class="btn btn-primary">Create New</a>
</p>

<div class="grid">
    <MudTable Items="@_foods" Hover="true" Breakpoint="Breakpoint.Sm"
              LoadingProgressColor="Color.Info">

        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Category</MudTh>
            <MudTh>Calories</MudTh>
            <MudTh>Protein(g)</MudTh>
            <MudTh>Fat(g)</MudTh>
            <MudTh>Carbs(g)</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nr">@context.Name</MudTd>
            <MudTd DataLabel="Sign">@context.Category</MudTd>
            <MudTd DataLabel="Name">@context.Calories</MudTd>
            <MudTd DataLabel="Position">@context.Protein</MudTd>
            <MudTd DataLabel="Molar mass">@context.Fat</MudTd>
            <MudTd DataLabel="Molar mass">@context.Carbs</MudTd>
            <MudTd DataLabel="Molar mass">
                <MudButton Variant="Variant.Outlined" Color="Color.Primary"><i class="fa-solid fa-pen-to-square"></i></MudButton>
                <MudButton Variant="Variant.Outlined" Color="Color.Secondary"><i class="fa-solid fa-trash-can"></i></MudButton>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager/>
        </PagerContent>
    </MudTable>
</div>

@code {
    private List<FoodResponse> _foods = [];
    private string searchString1 = "";

    protected override async Task OnInitializedAsync()
    {
        _foods = await LoadFoodItems();
    }

    private async Task<List<FoodResponse>> LoadFoodItems()
    {
        return await FoodService.GetAllFood();
    }


    private void Edit(object foodId)
    {
        NavigationManager.NavigateTo($"/foods/edit/{foodId}");
    }

    private void Delete(object foodId)
    {
        NavigationManager.NavigateTo($"/foods/delete/{foodId}");
    }

}
